{{ define "page" -}}
<section class="shithub-repo-page">
  {{ template "repo-header" . }}
  <section class="shithub-repo-empty">
    {{ if .Repo.Description }}<p class="shithub-repo-empty-desc">{{ .Repo.Description }}</p>{{ end }}

  <div class="shithub-repo-empty-quickstart">
    <h2>Quick setup — if you've done this kind of thing before</h2>
    <p>Get started by setting up a new repository on your machine and pushing it here.</p>

    <div class="shithub-repo-empty-clone">
      <label>
        <span>HTTPS</span>
        <input type="text" readonly value="{{ .HTTPSCloneURL }}" onclick="this.select()">
      </label>
      {{ if .SSHEnabled }}
      <label>
        <span>SSH</span>
        <input type="text" readonly value="{{ .SSHCloneURL }}" onclick="this.select()">
      </label>
      {{ end }}
    </div>

    <h3>…or push an existing repository from the command line</h3>
    <pre><code>git remote add origin {{ .HTTPSCloneURL }}
git branch -M {{ .DefaultBranch }}
git push -u origin {{ .DefaultBranch }}</code></pre>
  </div>
  </section>
</section>
{{- end }}
