{{ define "page" -}}
<div class="shithub-quick-dropdown" role="listbox">
  {{ if .Repos }}
    <div class="shithub-quick-section">
      <h3>Repositories</h3>
      <ul>
        {{ range .Repos }}
        <li>
          <a href="/{{ .OwnerUsername }}/{{ .Name }}">{{ .OwnerUsername }}/{{ .Name }}</a>
          {{ if eq .Visibility "private" }}<span class="shithub-pill shithub-pill-private">private</span>{{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
  {{ if .Issues }}
    <div class="shithub-quick-section">
      <h3>Issues</h3>
      <ul>
        {{ range .Issues }}
        <li><a href="/{{ .OwnerUsername }}/{{ .RepoName }}/issues/{{ .Number }}">{{ .OwnerUsername }}/{{ .RepoName }}#{{ .Number }} — {{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
  {{ if .Users }}
    <div class="shithub-quick-section">
      <h3>Users</h3>
      <ul>
        {{ range .Users }}
        <li><a href="/{{ .Username }}">@{{ .Username }} — {{ .DisplayName }}</a></li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
  <div class="shithub-quick-footer">
    <a href="/search?q={{ .Query }}">See all results &rarr;</a>
  </div>
</div>
{{- end }}
