{{ define "org-settings-nav" -}}
<aside class="shithub-org-settings-sidebar" aria-label="Organization settings">
  <h1>Settings</h1>
  <nav class="shithub-org-settings-menu">
    <a{{ if eq .OrgSettingsActive "profile" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/profile">{{ octicon "organization" }} General</a>
    <a{{ if eq .OrgSettingsActive "import" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/import">{{ octicon "repo" }} Import repositories</a>
    <span aria-disabled="true">{{ octicon "people" }} People</span>
    <span aria-disabled="true">{{ octicon "repo" }} Repository defaults</span>
    <span aria-disabled="true">{{ octicon "lock" }} Member privileges</span>
    <h2>Code, planning, and automation</h2>
    <span aria-disabled="true">{{ octicon "play" }} Actions</span>
    <a{{ if eq .OrgSettingsActive "scheduled-reminders" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/scheduled-reminders">{{ octicon "bell" }} Scheduled reminders</a>
    <span aria-disabled="true">{{ octicon "table" }} Projects</span>
    <span aria-disabled="true">{{ octicon "package" }} Packages</span>
    <h2>Security</h2>
    <span aria-disabled="true">{{ octicon "shield-check" }} Code security</span>
    <a{{ if eq .OrgSettingsActive "security" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/security">{{ octicon "shield-check" }} Authentication security</a>
    <a{{ if eq .OrgSettingsActive "secret-patterns" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/security/secret-patterns">{{ octicon "shield-lock" }} Secret patterns</a>
    <span aria-disabled="true">{{ octicon "globe" }} Domains</span>
    <h2>Access</h2>
    {{ if .BillingEnabled }}
    <a{{ if eq .OrgSettingsActive "billing" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/billing">{{ octicon "credit-card" }} Billing and licensing</a>
    {{ else }}
    <span aria-disabled="true">{{ octicon "credit-card" }} Billing and licensing</span>
    {{ end }}
    <a{{ if eq .OrgSettingsActive "integrations" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/hooks">{{ octicon "gear" }} Integrations</a>
    <a{{ if eq .OrgSettingsActive "audit" }} class="is-selected" aria-current="page"{{ end }} href="/organizations/{{ .Org.Slug }}/settings/audit-log">{{ octicon "history" }} Audit log</a>
  </nav>
</aside>
{{- end }}
