{{ define "repo-about-sidebar" -}}
<aside class="shithub-repo-about" aria-label="Repository information">
  <div class="shithub-repo-about-heading">
    <h2>About</h2>
    {{ if .CanSettings }}<a href="/{{ .Owner }}/{{ .Repo.Name }}/settings/general" aria-label="Edit repository about">{{ octicon "gear" }}</a>{{ end }}
  </div>
  {{ if .Repo.Description }}
    <p class="shithub-repo-about-desc">{{ .Repo.Description }}</p>
  {{ else }}
    <p class="shithub-muted">No description, website, or topics provided.</p>
  {{ end }}
  {{ if .RepoTopics }}
  <div class="shithub-repo-topics">
    {{ range .RepoTopics }}<a href="/search?q=topic%3A{{ . }}" class="shithub-topic">{{ . }}</a>{{ end }}
  </div>
  {{ end }}
  <ul class="shithub-repo-about-list">
    <li>{{ octicon "book" }} <a href="#readme">Readme</a></li>
    {{ if .Repo.LicenseKey.Valid }}<li>{{ octicon "law" }} {{ .Repo.LicenseKey.String }} license</li>{{ end }}
    {{ if .Repo.PrimaryLanguage.Valid }}<li>{{ octicon "code" }} {{ .Repo.PrimaryLanguage.String }}</li>{{ end }}
    <li>{{ octicon "star" }} {{ .Repo.StarCount }} star{{ if ne .Repo.StarCount 1 }}s{{ end }}</li>
    <li>{{ octicon "eye" }} {{ .Repo.WatcherCount }} watching</li>
    <li>{{ octicon "repo-forked" }} {{ .Repo.ForkCount }} fork{{ if ne .Repo.ForkCount 1 }}s{{ end }}</li>
  </ul>
</aside>
{{- end }}
