{{ define "repo-subnav" -}}
<nav class="shithub-repo-subnav" aria-label="Repository sections">
  <a href="/{{ .Owner }}/{{ .Repo.Name }}" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "code" }} is-active{{ end }}">
    {{ octicon "code" }} Code
  </a>
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/issues" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "issues" }} is-active{{ end }}">
    {{ octicon "issue-opened" }} Issues
    {{ with .RepoCounts }}{{ with .Issues }}<span class="shithub-tab-count">{{ . }}</span>{{ end }}{{ end }}
  </a>
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/pulls" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "pulls" }} is-active{{ end }}">
    {{ octicon "git-pull-request" }} Pull requests
    {{ with .RepoCounts }}{{ with .Pulls }}<span class="shithub-tab-count">{{ . }}</span>{{ end }}{{ end }}
  </a>
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/actions" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "actions" }} is-active{{ end }}">
    {{ octicon "play" }} Actions
  </a>
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/projects" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "projects" }} is-active{{ end }}">
    {{ octicon "table" }} Projects
  </a>
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/wiki" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "wiki" }} is-active{{ end }}">
    {{ octicon "book" }} Wiki
  </a>
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/security" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "security" }} is-active{{ end }}">
    {{ octicon "shield-check" }} Security and quality
  </a>
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/pulse" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "insights" }} is-active{{ end }}">
    {{ octicon "pulse" }} Insights
  </a>
  {{ if .CanSettings }}
  <a href="/{{ .Owner }}/{{ .Repo.Name }}/settings" class="shithub-repo-subnav-tab{{ if eq .ActiveSubnav "settings" }} is-active{{ end }}">
    {{ octicon "gear" }} Settings
  </a>
  {{ end }}
</nav>
{{- end }}
